/* width */
::-webkit-scrollbar {
    width: 0px;
}

html {
    font-size: 16px;
}

html body {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

#front-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: skyblue;
    width: 100%;
    min-height: 40vh;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }
}


#desc {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    margin: 0;
    padding: 15vh 0 3vh 0;
    font-size: 3rem;
}

#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0;
    margin-bottom: 15vh;
    padding: 0;
    color: #000;
}

@media (max-width: 1350px) {
    #projects {
        width: 80%
    }
}

@media (max-width: 1000px) {
    #projects {
        width: 90%
    }
}

#projects a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.project {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #ebebeb;
    padding: 20px;
    margin: 20px;
    height: 10rem;
    max-width: 20rem;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

.project h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.project .collapse {
    font-size: 1rem;
    margin: 0;
    padding: 0;

}

.project .expand {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 1.5rem;
}

.tags {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: auto;
    padding: 0;
    font-size: 0.8rem;
    list-style: none;
}

.tags li {
    display: inline;
    background-color: #d1d1d1;
    padding: 3px 10px;
    margin: 0;
    border-radius: 10px;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: skyblue;
    width: 100%;
    min-height: 5vh;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1rem;
}